.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    border-style: solid;
    border-color: white;

    grid-template-areas:
    ". hash ."
    ". block .";
    grid-gap: 10px;
}

.hash {
    grid-area: hash;
    justify-self: center;
    padding: 20px;
    margin: 20px;
}

.block {
    grid-area: block;
    justify-self: center;
    padding: 20px;
    margin: 20px;
}

.color-dark {
    background: rgb(0, 0, 0);
}

.color-light {
    background: rgb(116, 123, 128);
}