<div class="grid">
    <div class="hash color-light">
        <input type="text" placeholder="Data..." onchange=""
                [(ngModel)]="hashInput" 
                (ngModelChange)="hashString()">
        <div class="hash-output">
            {{(hashOutput)}}
        </div>
    </div>

    <div *ngFor="let block of coin.chain">
        <div class="block color-light">
            <p style="text-align:center;">BLOCK DIV</p>
                <li>{{block.index}}</li>
                <li>{{block.timestamp}}</li>
                <li>{{block.data | json}}</li>
        </div>
    </div>
</div>