/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: rgb(56, 53, 53);
    padding: 3em;
    font-family: 'Open Sans', 'Arial';
    color: #fff;
}

ul {
    list-style-type: none;
    margin-bottom: 50px;
}

ul li {
    display: inline;
    margin-right: 30px; /* Space between buttons */
}

ul li a {
    font-size: 1.5em;
}

a {
    color: #fff;
    text-decoration: none;
}